<div class="bookingCard">
    <div class="bgImg"></div>
    <div class="container">
        <div class="left">
            <h1>
                Certified and Award Winning Car Repair Service Provider
            </h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, blanditiis iusto est modi quibusdam at tempora facere reiciendis mollitia nam, laudantium eos veritatis deleniti consequuntur quod laboriosam nulla porro sunt.
                laudantium eos veritatis deleniti consequuntur quod laboriosam nulla porro sunt.

            </p>
        </div>
        <div class="right">
            <h5>Book For A Service</h5>
            <form class="card">
                
                    <input type="text" placeholder="Your Name">
                    <input type="text" placeholder="Your Email">
                    <div>
                        <select name="" id="">
                            <option value="">Car Washing</option>
                            <option value="">Repainting</option>
                            <option value="">Engine Cleaning & Engine issues</option>
                            <option value="">Others</option>
                        </select>
                        <input type="date" name="" id="" placeholder="select service date">
                        
                    </div>
                    <input type="text" placeholder="Special Request">
                    <button type="submit" class="btnBook">BOOK NOW</button>


               


            </form>

        </div>

    </div>
</div>