<div class="about">
    <div class="container">
        <div class="left">
            <div class="effect"></div>
            <img src="../../../assets/images/about.jpg" alt="">
            <p> <span>15</span> Years Of<br>  Experience</p>
        </div>
        <div class="right">
            <h3>// ABOUT US //</h3>
            <h2><span>CarServ</span> Is The Best Place For Your Auto Care
            </h2>
            <p>
                Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet

            </p>
            <div class="item">
                <span class="itemNo" >01</span>
                <div>
                    <span class="title">Professional & Expert</span>
                    <span class="desc">Diam dolor diam ipsum sit amet diam et eos</span>

                </div>
            </div>
            <div class="item">

            
                <span class="itemNo">02</span>
                <div>
                    <span class="title">Quality Servicing Center</span>
                    <span class="desc">Diam dolor diam ipsum sit amet diam et eos</span>

                </div>
            </div>
            <div class="item">
                <span class="itemNo">03</span>
                <div>
                    <span class="title">Awards Winning Workers</span>
                    <span class="desc">Diam dolor diam ipsum sit amet diam et eos</span>

                </div>
            </div>
            <button class="heroBtn">READ MORE</button>
        </div>
    </div>
</div>