<div class="footer">
    <div class="bgImg"></div>
    <div class="container">
        <div class="item">
            <h3>Address</h3>
            <div>

                <span>
                    <div class="icon">#</div>
                Nairobi,Kenya
            </span>
            <span>
                <div class="icon">#</div>
                +25470000000
            </span>
            <span>
                <div class="icon">#</div>
                info@CarServ@mail.com
            </span>
            <span class="socialIcons">
                <div class="icon">#</div>
                <div class="icon">#</div>
                <div class="icon">#</div>
                <div class="icon">#</div>
                
                
            </span>
        </div>
        </div>
        <div class="item">
            <h3>Opening Hours</h3>
            <span>
                <h2>Monday-Friday</h2>
                <h5 style="margin-bottom: 7px;">07.00AM - 09.00PM</h5>
                <h2>Monday-Friday</h2>
                <h5>07.00AM - 09.00PM</h5>

            </span>


        </div>
        <div class="item">
            <h3>Services</h3>
            <ul>
                <li>
                    <span>></span>
                    <h6>Diagnostic Test</h6>
                </li>
                <li>
                    <span>></span>
                    <h6>Engine Servicing</h6>
                </li>
                <li>
                    <span>></span>
                    <h6>Tires Replacement</h6>
                </li>
                <li>
                    <span>></span>
                    <h6>Oil Changing</h6>
                </li>
                <li>
                    <span>></span>
                    <h6>Vaccum Cleaning</h6>
                </li>
            </ul>
        </div>
        <div class="item">
            <h3>Newsletter</h3>
            <p>Subscribe To Get Updates.</p>
            <form class="form">
                <input type="text" placeholder="Your Email">
                <button class="btnSignUp">SIGN UP</button>
            </form>
        </div>
    </div>
</div>