<div class="stats">
    <div class="bgImg"></div>
    <div class="container">
        <div class="stat">
            <span>icon</span>
            <span>1234</span>
            <p>Years Of Experience </p>
        </div>
        <div class="stat">
            <span>icon</span>
            <span>1234</span>
            <p>Expert Technicians</p>
        </div>
        <div class="stat">
            <span>icon</span>
            <span>1234</span>
            <p>Satified Clients</p>
        </div>
        <div class="stat">
            <span>icon</span>
            <span>1234</span>
            <p>Complete Projects</p>
        </div>
    </div>
</div>
