<div class="technicians">
    <h3>// OUR TECHNICIANS //</h3>
    <h2>Our Expert Technicians</h2>
    <div class="container">
        
        
        <div class="card">
            <img src="../../../assets/images/man1.jpg" alt="">
            <div>
                <h4>Mark</h4>
                <h5>Technician</h5>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/images/man2.jpg" alt="">
            <div>
                <h4>Jonh</h4>
                <h5>Technician</h5>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/images/woman1.jpg" alt="">
            <div>
                <h4>Harriet</h4>
                <h5>Car Detailer</h5>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/images/me.jpg" alt="">
            <div>
                <h4>Me</h4>
                <h5>Web Dev</h5>
            </div>
        </div>

    </div>
</div>