<div class="homeTop">
        <div class="heroSection">
            <img  class="bgImg" src="" alt="">
            
            <div class="heroInfo">
                <div class="heroInfoCont">
                     <div class="left">
                    <p>// Car Servicing //</p>
                    <h1>Qualified Car Wash <br>Service Center</h1>
                    <button class="heroBtn">LEARN MORE</button>
                 </div>
                 <div class="right hide" >
                     <img src="../../../assets/images/carousel-2.png" alt="">
                 </div>

                </div>
                
            </div>
        </div>
        
</div>
    

