<div class="services">
      <h3>// OUR SERVICES //</h3>
      <h1>Explore Our Services</h1>
    <div class="container">
        <div class="left">
            <div class="item active">
                <span>#</span>
                <span>Diagnostic Test</span>
            </div>
            <div class="item">
                <span>#</span>
                <span>Engine Servicing</span>
            </div>
            <div class="item">
                <span>#</span>
                <span>Tire Replacement</span>
            </div>
            <div class="item">
                <span>#</span>
                <span>Oil Changing</span>
            </div>

        </div>
        <div class="right">
            <div class="rightCont">
                <div class="itemImg">
                <img src="../../../assets/images/service-1.jpg" alt="">

            </div>
            <div class="itemInfo">
                <h2>
                    15 Years Of Experience In Auto Servicing
                </h2>
                 <p>
                    Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet

                </p>
                




                <ul class="list">
                    <li>
                        <span>></span>
                        <h4>Quality Servicing</h4>
                    </li>
                    <li>
                        <span>></span>
                        <h4>Timely Delivery</h4>
                    </li>
                     <li>
                        <span>></span>
                        <h4>Affordable Services</h4>
                    </li>
                     <li>
                        <span>></span>
                        <h4>Expert Workers</h4>
                    </li>
                     <li>
                        <span>></span>
                        <h4>Modern Equipment</h4>
                    </li>
                </ul>
                <button class="btnService">READ MORE</button>
            </div>

            </div>
            
            

        </div>
    </div>
</div>