<div class="contactsCard">
    <div class="contContainer">
        <div class="left">
            <img src="../../../assets/images/map1.jpg" alt="">
        </div>
         <div class="right">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Error.
            </p>
            <form class="form">
                <input type="text" placeholder="Your Name">
                <input type="email" name="" id="" placeholder="Your Email">
                <input type="text" placeholder="Subject">
                <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
                <button  class="btnContact">SEND</button>

            </form>
        </div>

       
      
    </div>
</div>