<div class="testimonials">
    <h4>// TESTIMONIAL //</h4>
    <h2>What Our Clients Say</h2>
    <div class="container">
        <div class="card leftS">
            <span>
                <img src="../../../assets/images/testimonial-1.jpg" alt="">
            <h3>Hannah</h3>
            </span>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non iure tempora est quisquam minima tenetur. Est doloremque quos quam omnis ipsam corrupti, sequi, laborum, quo non modi nostrum maiores accusantium?

            </p>
        </div>
        <div class="card middle">
            <span>
                <img src="../../../assets/images/testimonial-2.jpg" alt="">
            <h3>Ben</h3>

            </span>
            
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non iure tempora est quisquam minima tenetur. Est doloremque quos quam omnis ipsam corrupti, sequi, laborum, quo non modi nostrum maiores accusantium?

            </p>
        </div>
        
        <div class="card ">
            <span>
                 <img src="../../../assets/images/testimonial-4.jpg" alt="">
            <h3>Alice</h3>

            </span>
           
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non iure tempora est quisquam minima tenetur. Est doloremque quos quam omnis ipsam corrupti, sequi, laborum, quo non modi nostrum maiores accusantium?

            </p>
        </div>
       
    </div>
</div>