/* You can add global styles to this file, and also import other style files */
//@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
//@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
:root{
    --borderColor: 1px solid rgb(233, 231, 231);
    --textColor: #6c757d;
    --secondaryColor:#0B2154;
    --mainColor:#D81324;
    --textDarkColor: #494a4b;
    

}
body{
    font-family: 'Barlow', sans-serif;
}