<div class="cards">
    <div class="cardsCont">
        <div class="card">
           <div class="left">
                <span class="logo">
                    &&
                </span>
            </div>
            <div class="info">
                <h3>Lorem Ispum</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa.

                </p>
                <button class="btnCard">
                    Read More
                </button>
            </div>
        </div>
        <div class="card center">
            <div class="left">
                <span class="logo">
                    &&
                </span>
            </div>
            <div class="info">
                <h3>Lorem Ispum</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa.

                </p>
                <button class="btnCard">
                    Read More
                </button>
            </div>
        </div>
        <div class="card">
            <div class="left">
                <span class="logo">
                    &&
                </span>
            </div>
            <div class="info">
                <h3>Lorem Ispum</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa.

                </p>
                <button class="btnCard">
                    Read More
                </button>
            </div>
        </div>
    </div>
</div>